@font-face {
  font-family: 'lucida_granderegular';
  src: url('./fonts/lucidagrande-webfont.woff2') format('woff2'),
  url('./fonts/lucidagrande-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenirregular';
  src: url('./fonts/avenir_roman-webfont.woff2') format('woff2'),
  url('./fonts/avenir_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}