div.container
    div.footer
        img.logo(src=site.logo)
        div.text-align-end
            p 107076 г. Москва, Колодезный пер, д.14, оф.68
            img.text-align-end(src="images/email.svg")