div.container
    div.footer
        img(class="logo" src=site.logo)
        div.text-align-end
            p 107076 г. Москва, Колодезный пер, д.14, оф.68
            img.text-align-end(src="./images/email.png")