div.container
    div.footer
        img(class="logo" src=site.logo)
        div
            p.text-align-end="107076 г. Москва, Колодезный пер, д.14, оф.68"
            p.text-align-end="mail@eko-tech.ru"