div.container
  header
    div.navbar-toggler-wrapper
      div#navbar-toggler
        span
        span
        span
    nav
      each item in navbar
        a.as-text(href="#")= item
    img(class="logo" src=site.logo)