div.container
  header
    div.navbar-toggler-wrapper
      div#navbar-toggler
        span
        span
        span
    img(class="logo" src=site.logo)
    nav
      each item in navbar
        a(href="#")= item
