div.container
    div.images
        a(
        href="./images/service/SRO.pdf"
        )
            img(
            src="./images/service/SRO.png"
            )
        a(
        href="./images/service/ISO.pdf"
        )
            img(
            src="./images/service/ISO.jpg"
            )