div.container
    div.images
        a(
        href="/images/service/Проверка по ИСО.pdf"
        )
            img(
            src="/images/service/СРО.png"
            )
        img(
        src="/images/service/ИСО.png"
        )