mixin getScaleContent(index)
  case index
    when 0
      include ../projects/proj0
    when 1
      include ../projects/proj1
    when 2
      include ../projects/proj2
    when 3
      include ../projects/proj3
    when 4
      include ../projects/proj4

div.container.flex#projects
  div#scale
    each project, index in projects
      div.scale-line(data-line-index=index - 1)
      div.scale-point(data-index=index)
        span.scale-date= project.date
  div.scale-content-wrapper
    - var n = projects.length;
    - var i = 0;
    while i < n
      div.scale-content(data-content-index=i)
        +getScaleContent(i++)
        button Подробнее