mixin getProjectContent(index)
  case index
    when 0
      include ../projects/proj0
    when 1
      include ../projects/proj1
    when 2
      include ../projects/proj2
    when 3
      include ../projects/proj3
    when 4
      include ../projects/proj4