mixin two-parts-block(number, image)
  div.two-parts-block.inverse-color
    div.text-wrapper
      div.text
        +content(number)
    div.image
      img(src=image)

mixin content(number)
  case number
    when 0
      include ../includes/about
