extends layout

include mixins/two-parts-block

block header
  div#main-page
    include includes/header
block content
  include includes/name
  +two-parts-block(about, false, "about")
  include includes/projects
  include includes/service
  +two-parts-block(resources, true, "resources")
  include includes/image
  div.map-wrapper.relative
    div.dummy#map-anchor
    div#map
block scripts
  script(src="./js/main.js")
  script(src="./js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjOke5JR2hnTHmXvudtC2FDA9SFOvR5DE&callback=initMap")
