extend layout.pug

include mixins/two-parts-block

block content
  include includes/name
  +two-parts-block(about)
  include includes/projects
  include includes/service
  +two-parts-block(resources, true)
  include includes/image
  div#map
