body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: $main-text-color;
  line-height: 1.73;
  letter-spacing: 0.5px;

  @include media-breakpoint-max(sm) {
    &.fix {
      position: fixed;
    }
  }
}

.inverse-color {
  color: white !important;
}

h1, h2 {
  color: $header-text-color;
  line-height: normal;
  letter-spacing: 1px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  font-family: 'avenirregular', sans-serif;

  @include media-breakpoint-min(sm) {
    font-size: 40px;
  }

  @include media-breakpoint-min(md) {
    font-size: 44px;
  }
}

h2 {
  margin-bottom: 36px;
  font-size: 28px;
  font-family: 'lucida_granderegular', sans-serif;

  &.h2-min-margin {
    margin-bottom: 20px;

    @include media-breakpoint-min(sm) {
      margin-bottom: 30px;
    }
  }
}

a {
  color: $main-color;
  text-decoration: none;

  &.as-text {
    color: inherit;
  }
}

.text-align-center {
  text-align: center;
}
