body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $main-text-color;
  line-height: 1.73;
  letter-spacing: 0.5px;
  padding-top: 56px;

  @include media-breakpoint-max(sm) {
    &.fix {
      overflow: hidden;
      height: 100%;
    }
  }

  @include media-breakpoint-min(sm) {
    padding-top: 20px;
  }

  @include media-breakpoint-min(md) {
    padding-top: 112px;
  }
}

.inverse-color {
  color: white !important;
}

h1, h2, h3{
  color: $header-text-color;
  line-height: normal;
  letter-spacing: 1px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  font-family: 'avenirregular', sans-serif;

  @include media-breakpoint-min(sm) {
    font-size: 40px;
  }

  @include media-breakpoint-min(md) {
    font-size: 44px;
  }
}

h2 {
  margin-bottom: 36px;
  font-size: 20px;
  font-family: 'lucida_granderegular', sans-serif;
  font-weight: 400;

  @include media-breakpoint-min(sm) {
    font-size: 28px;
  }

  &.h2-min-margin {
    margin-bottom: 20px;

    @include media-breakpoint-min(sm) {
      margin-bottom: 30px;
    }
  }
}

h3 {
  font-family: 'lucida_granderegular', sans-serif;
  line-height: 1.3;
  font-weight: bold;
  &.h3-min-margin {
    margin-bottom: 15px;
  }
}

a {
  color: $main-color;
  text-decoration: none;

  &.as-text {
    color: inherit;
  }
}

.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
@include media-breakpoint-min(lg) {
  .text-align-start-lg {
    text-align: start;
  }
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
p {
  &.min-margin {
    margin-bottom: 20px;
  }
}

.main-color {
  color: $main-color;
}