.button-block {
  margin-top: 20px;
}

button, .button {
  color: $main-color;
  background: transparent;
  padding: 10px 40px;
  border: 1px solid $main-color;
  border-radius: 100px;
  margin-right: 15px;
  margin-bottom: 12px;
  font-size: 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-min(sm) {
    padding: 8px 18px;
  }
}