.logo {
  display: none;
  width: 156px;
  height: 52px;
  font-size: 24px;
  font-weight: bold;

  span {
    margin-left: 11px;
  }

  @include media-breakpoint-min(md) {
    display: flex;
    align-items: center;
  }
}

#main-page .logo {
  display: flex;
  align-items: center;
  margin-top: 25px;

  @include media-breakpoint-min(sm) {
    margin-top: 78px;
  }

  @include media-breakpoint-min(md) {
    margin-top: 0;
  }
}
