.logo {
  display: none;
  width: 156px;
  height: 52px;

  @include media-breakpoint-min(md) {
    display: block;
  }
}

#main-page .logo {
  display: block;
  margin-top: 25px;

  @include media-breakpoint-min(sm) {
    margin-top: 78px;
  }

  @include media-breakpoint-min(md) {
    margin-top: 0;
  }
}
