nav {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: normal;

  a {
   cursor: pointer;
  }
  a + a {
    margin-left: 30px;
  }

  @include media-breakpoint-min(sm) {
    display: flex;
  }

  @include media-breakpoint-min(md) {
    width: auto;
    margin-left: auto;
  }
}