#scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17px;
  position: relative;
  margin-left: 171px;

  @include media-breakpoint-min(md) {
    margin-left: 206px;
  }
}

.scale-line {
  width: 5px;
  height: 80px;
  background: #d8d8d8;

  &:first-child {
    height: 90px;
  }

  @include media-breakpoint-min(md) {
    &:first-child {
      height: 145px;
    }
  }
}

.scale-point {
  position: relative;
  width: 15px;
  height: 15px;
  border: 5px solid #d8d8d8;
  border-radius: 15px;
  background: transparent;
  margin: 8px 0;
  cursor: pointer;

  &.active {
    border-color: $main-color;
  }
}

.scale-date {
  position: absolute;
  top: -4px;
  left: -15px;
  transform: translateX(-100%);
  white-space: nowrap;
  font-weight: 700;
}

.scale-content-wrapper {
  padding: 90px 25px 0 30px;
}

.scale-content {
  display: none;
}