.name {
  padding-bottom: 75px;

  @include media-breakpoint-min(md) {
    padding-bottom: 85px;
  }
}
.description {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;

  @include media-breakpoint-min(md) {
    font-size: 24px;
  }
}