.services-container {
  position: relative;
  background-image: linear-gradient(to left, #f8f8f8, #efefef);
  padding-top: 90px;
  padding-bottom: 90px;
}

.services {
  flex-wrap: wrap;
  justify-content: center;
  @include media-breakpoint-min(md) {
    justify-content: space-between;
  }
  .service {
    flex: 1 0 292px;
    max-width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    @include media-breakpoint-min(lg) {
      align-items: start;
    }
    &:hover {
      h3 {
        color: $main-color;
      }
    }
    .number {
      font-size: 16px;
      font-weight: bold;
      border-radius: 100%;
      border: solid 3px $main-color;
      color: $header-text-color;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
    }
  }

  *, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }
}
