.two-parts-block {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;

  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 25px;
    background: #141720;

    @include media-breakpoint-min(md) {
      padding: 0 135px;

      .text {
        width: 450px;
      }
    }
  }

  .image {
    img {
      display: block;
      width: 100%;
      height: 177px;
    }

    @include media-breakpoint-min(md) {
      width: 100%;
      height: 100%;

      img {
        height: 700px;
      }
    }
  }

  button, .button {
    width: 100%;

    @include media-breakpoint-min(sm) {
      width: auto;
    }
  }

  @include media-breakpoint-min(md) {
    flex-direction: row;
  }
}