h2.h2-min-margin Финансово-технический и строительный надзор строительства Полоцкой ГЭС на реке Западная Двина.
div.block-sm
  p Заказчик:
  p
    a(href="https://eabr.org/" target="_blank")  «Евразийский банк развития»
    |  (Учредители Российская Федерация и Республика Казахстан)
  p В рамках Проекта выполнены следующие услуги:
  ul.mb-15
    li Анализ исполнения бюджета проекта
    li Осуществление контроля целевого использования денежных средств на проектирование, приобретение оборудования,
      |  строительных материалов и производство строительно-монтажных работ, запуска производства и выхода на производственную мощность
    li Проверка соответствия выполненных работ утвержденной проектной документации (соблюдение проектных решений),
      |  а также соответствия существующим стандартам и СНИП (или аналогам в РБ)
    li Осуществление контроля соответствия объемов работ, отраженных в актах приемки выполненных работ, фактически выполненным работам.
    li Осуществление проверки наличия документов, удостоверяющих качество материалов, используемых при производстве СМР
      |  и оборудования (паспортов, сертификатов, результатов лабораторных испытаний и др.)
    li Анализ графика реализации работ по строительству станции, включая контроль сроков изготовления, доставки
      |  оборудования и соответствия заявленным проектам и техническим решениям.
    li Анализ соблюдения экологических требования в период строительства.
