h2.h2-min-margin 2 Технический аудит строящихся и эксплуатируемых газотурбинных ТЭЦ по 10 построенным и 18 строящимся электростанциям.
p Заказчик:
p Группа компаний «Энергомаш»  ОАО «ГТ-ТЭЦ Энерго» (для ОАО «СБЕРБАНК России»)
p В период выполнения работ были проработаны материалы по 10 построенным и 18 строящимся электростанциям,
  | на которых используются блоки 3 модификаций:
ul.mb-15
  li ГТЭ-009;
  li ГТЭ-009М (газовая турбина на магнитных подшипниках);
  li ГТЭ-009МЭ (газовая турбина на магнитных подшипниках и блок дожигающих устройств на пиковом котле).
p.mb-15 На основе технической информации, предоставленной ОАО «ГТ-ТЭЦ Энерго», и результатов собственного обследования
  | построенных энергообъектов, выполнен анализ технических характеристик используемого оборудования.
  | Проведены расчеты основных технико-экономических показателей работы действующих станций, сделаны прогнозы
  | показателей работы в перспективе, даны предложения по увеличению эффективности работы энергоисточников.
button Подробнее