h2.h2-min-margin Строительный аудит и финансово-технический надзор за строительством малых гидроэлектростанций
  |  «Белопорожская ГЭС-1» и «Белопорожская ГЭС-2», а также объектов электросетевого хозяйства для их присоединения
  |  к сетям в Республике Карелия
div.block-sm
  p Заказчик:
  p
    a(href="https://eabr.org/" target="_blank")  «Евразийский банк развития»
    |  (Учредители Российская Федерация и Республика Казахстан)
  p
    a(href="https://www.iib.int" target="_blank")  «Международный Инвестиционный Банк»
    |  (Членами Банка являются: Республика Болгария, Венгрия, Социалистическая Республика Вьетнам, Республика Куба,
    |  Монголия, Российская Федерация, Румыния, Словацкая Республика, Чешская Республика)
  p
    | Первый инвестиционный проект в России финансируемый
    a(href="http://www.brics2015.ru/" target="_blank")  БРИКС
  p Надзор по проекту выполняется в соответствии с требованиями БРИКС.
  p Проект строительства малых гидроэлектростанций «Белопорожская МГЭС-1» и «Белопорожская МГЭС-2» включен в
    |  федеральную целевую программу «Развитие Республики Карелия на период до 2020 года». Заключено 4-х стороннее
    |  Соглашение участников проекта с Правительством Республики Карелия о намерениях по реализации проекта.
    |  Реализация проекта осуществляется в рамках Постановления Правительства РФ от 28 мая 2013 г №449 «О механизме
    |  стимулирования использования возобновляемых источников энергии на оптовом рынке электрической энергии и мощности».
  p В рамках проекта выполняются следующие услуги:
  ul.mb-15
    li Анализ исходно-разрешительной, проектно-сметной, исполнительной и контрактной документации по Проекту
    li Анализ фактического выполнения работ и графика реализации проекта;
    li Организация финансово-технического контроля за строительством
    li Мониторинг выполнения мероприятий, направленных на защиту окружающей среды, промышленной безопасности и охраны труда
    li Финансовый надзор за реализацией Проекта
    li Оценка организационно-технических, технологических, финансовых и иных факторов, негативно/позитивно
      |  влияющих на ход реализации Проекта
    li Рекомендации по оптимизации хода реализации Проекта
