h2.h2-min-margin Финансово-технический и строительный аудит проекта строительства гидроэлектростанций
  |  «Белопорожская-1» и «Белопорожская-2» на территории Республики Карелия.
div.block-sm
  p Заказчик:
  p
    a(href="https://eabr.org/" target="_blank")  «Евразийский банк развития»
    |  (Учредители Российская Федерация и Республика Казахстан)
  p Проект строительства двух малых гидроэлектростанций («Белопорожская-1» и «Белопорожская-2», каждая мощностью
    |  24,9 МВт) на пороге Белый вблизи деревень Панозеро и Шомба на территории Кемского района Республики Карелия.
    |  Реализацию произведённой электроэнергии планируется осуществлять на оптовом рынке электроэнергии, предоставление
    |  мощности – на оптовом рынке мощности на условиях ДПМ в рамках Постановления Правительства РФ от 28 мая 2013 г
    |  №449 «О механизме стимулирования использования возобновляемых источников энергии на оптовом рынке электрической
    |  энергии и мощности». Проект успешно прошел конкурсный отбор генерирующих объектов, функционирующих на основе
    |  возобновляемых источников энергии (ВИЭ), что в случае его успешной реализации гарантирует реализацию мощности
    |  в полном объеме и получение станциями платы за мощность на уровне, обеспечивающем базовую регулируемую норму
    |  доходности в размере 14% годовых в рублях (в рамках договоров на предоставление мощности – ДПМ ВИЭ).
  p На основе информации, предоставленной заказчиком строительства – АО «Норд Гидро», выполнена независимая экспертиза
    |  проекта «Строительство Белопорожских МГЭС на территории Республики Карелия» включая:
  ul.mb-15
    li анализ условий строительства и предложенных проектных решений;
    li анализ стоимости бюджета проекта;
    li анализ проектно-сметной, разрешительной, исполнительной, контрактной и иной документации, в том числе на
      |  соответствие нормам законодательства;
    li анализ графика реализации проекта;
    li анализ прогнозируемой деятельности.
p.mb-15.block-md По результатам проведенного аудита, Кредитной организацией принято решение о финансировании проекта
  |  строительства Белопорожских МГЭС.
