h2.h2-min-margin Экспертиза Архитектурного проекта «Строительство Полоцкой ГЭС на реке Западная Двина» и
 |  Контракта на выполнение комплексного строительства гидроузла.
div.block-sm
  p Заказчик:
  p
    a(href="https://eabr.org/" target="_blank")  «Евразийский банк развития»
    |  (Учредители Российская Федерация и Республика Казахстан)
  p Проект строительства Полоцкой ГЭС, установленной мощностью 21,75 МВт, на реке Западная Двина, вблизи деревни Лучно
    |  Полоцкого района, Витебской области, Республики Беларусь.
  p На основе информации, предоставленной заказчиком строительства - РУП «Витебскэнерго», Подрядчиком – ОАО ВО
    |  «Технопромэкспорт» и проектной организацией РУП «БелНИПИэнергопром», выполнены:
  ul.mb-15
    li независимая экспертиза Архитектурного проекта «Строительство Полоцкой ГЭС на реке Западная Двина» и Контракту
      |  на выполнение комплексного строительства гидроузла;
    li оценены риски увеличения сметной стоимости строительства при реализации проекта;
    li разработаны предложения по минимизации этих рисков;
    li представлены рекомендации по гидротехнической, гидромеханической части проекта, по проекту организации строительства.
p.mb-15.block-md При реализации Проекта строительства Полоцкой ГЭС заказчиком были учтены предложения и рекомендации
      |  компании, что позволило избежать непредвиденных расходов и рисков.
