extends ../layout

include ../mixins/get-project-content
include ../mixins/bread-crumbs
include ../mixins/modal-window

block base
  base(href='../')
block bread-crumbs
  div.container
    +breadCrumbs(['Главная', 'Документы'])
append scripts
  script(src='js/gallery.js')
