extends ./abstract-project

block image
  img.project-image(src=projects[4].image)
block content
  div.container
    +getProjectContent(4)
    div.main-color
      +modalWindow(4, "Посмотреть фотографии", projects[4].images.dir, projects[4].images.count)