extends ./abstract-project

block image
  img.project-image(src=projects[3].image)
block content
  div.container
    +getProjectContent(3)
    div.main-color
      +modalWindow(3, "Посмотреть фотографии", projects[3].images.dir, projects[3].images.count)