extends ./abstract-project

block image
  div.project-image(style={'background-image': `url(${projects[0].image})`})
block content
  div.container
    +getProjectContent(0)
    div.main-color
      +modalWindow(0, "Посмотреть фотографии", projects[0].images.dir, projects[0].images.count)